@model Domain.DTO_s.Room

@{
    ViewData["Title"] = "Create";
}

<div class="wrapper">
    <partial name="_Slide" />
    <div class="main">
        <partial name="_Navbar" />
        <main class="content">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <form class="card mt-5" asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-header">
                            <h3 class="card-title">Edit Room</h3>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label required" asp-for="RoomNumber">Room Number</label>
                                <div class="col">
                                    <input type="text" class="form-control" asp-for="RoomNumber" placeholder="Room Number">
                                    <small class="form-hint">Enter the room number.</small>
                                    <span asp-validation-for="RoomNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label required" asp-for="Capacity">Capacity</label>
                                <div class="col">
                                    <input type="number" class="form-control" asp-for="Capacity" placeholder="Capacity">
                                    <small class="form-hint">Enter the room capacity.</small>
                                    <span asp-validation-for="Capacity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label required" asp-for="AdultPrice">Adult Price</label>
                                <div class="col">
                                    <input type="number" class="form-control" asp-for="AdultPrice">
                                    <small class="form-hint">Enter the adult price for the room.</small>
                                    <span asp-validation-for="AdultPrice" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label required" asp-for="ChildrenPrice">Children Price</label>
                                <div class="col">
                                    <input type="number" class="form-control" asp-for="ChildrenPrice">
                                    <small class="form-hint">Enter the children price for the room.</small>
                                    <span asp-validation-for="ChildrenPrice" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label required">Select Room Type</label>
                                <div class="col">
                                    <select asp-for="RoomTypeId" class="form-control" asp-items="@Model.RoomTypes"></select>
                                    <small class="form-hint">Select a room type from the list.</small>
                                    <span asp-validation-for="RoomTypeId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label required">Upload Images</label>
                                <div class="col">
                                    <label>Upload Images</label>
                                    <input type="file" asp-for="RoomImages" name="RoomImages" multiple class="form-control" accept="image/*" />
                                    <span asp-validation-for="RoomImages" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row" hidden>
                                <label class="col-3 col-form-label required" asp-for="NameAr">Room Number</label>
                                <div class="col">
                                    <input type="text" class="form-control" asp-for="NameAr" placeholder="Room Number">
                                    <small class="form-hint">Enter the room number.</small>
                                    <span asp-validation-for="NameAr" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row" hidden>
                                <label class="col-3 col-form-label required" asp-for="NameEn">Room Number</label>
                                <div class="col">
                                    <input type="text" class="form-control" asp-for="NameEn" placeholder="Room Number">
                                    <small class="form-hint">Enter the room number.</small>
                                    <span asp-validation-for="NameEn" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a asp-action="Index" class="btn btn-secondary" role="button">Back to List</a>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <partial name="_Footer" />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
