@{
	Layout = "_HotelLayout";
	ViewData["Title"] = "Pretal Hotel";
	ViewData["ActivePage"] = "AboutUs";
}


<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Sona Template">
	<meta name="keywords" content="Sona, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>PRETAL HOTEAL</title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

	<!-- Css Styles -->
	<link rel="stylesheet" href="~/assets/hotel/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="~/assets/hotel/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="~/assets/hotel/css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="~/assets/hotel/css/flaticon.css" type="text/css">
	<link rel="stylesheet" href="~/assets/hotel/css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="~/assets/hotel/css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="~/assets/hotel/css/jquery-ui.min.css" type="text/css">
	<link rel="stylesheet" href="~/assets/hotel/css/magnific-popup.css" type="text/css">
	<link rel="stylesheet" href="~/assets/hotel/css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="~/assets/hotel/css/style.css" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:700' rel='stylesheet' type='text/css'>
	<link href='~/assets/hotel/css/Thanks.css' rel='stylesheet' type='text/css'>
</head>

<body>

	<!-- Header Section Begin -->
	<partial name="_HotelNav" />
    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>About Us</h2>
                        <div class="bt-option">
                            <a href="./index.html">Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->
    <!-- About Us Page Section Begin -->
    <section class="aboutus-page-section spad">
        <div class="container">
            <div class="about-page-text">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ap-title">
                            <h2>Welcome To Pretal Hotel.</h2>
                            <p>
                                بفخر، نحن فندق بريتال، الأول في محافظة المفرق بتصنيف أربع نجوم. نقدم أفضل الخدمات وأشهى المأكولات، ونفتخر بأن نكون الفندق الرائد بهذا التصنيف في إقليم شمال الأردن.
                            </p>
                            <p>
                                With pride, we are Pretal Hotel, the first four-star hotel in Al-Mafraq Governorate. We offer the best services and delectable cuisine, proudly being the pioneering hotel with this classification in the Northern Jordan region.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<partial name="_HotelFooter" />

	<script src="~/assets/hotel/js/jquery-3.3.1.min.js"></script>
	<script src="~/assets/hotel/js/bootstrap.min.js"></script>
	<script src="~/assets/hotel/js/jquery.magnific-popup.min.js"></script>
	<script src="~/assets/hotel/js/jquery.nice-select.min.js"></script>
	<script src="~/assets/hotel/js/jquery-ui.min.js"></script>
	<script src="~/assets/hotel/js/jquery.slicknav.js"></script>
	<script src="~/assets/hotel/js/owl.carousel.min.js"></script>
	<script src="~/assets/hotel/js/main.js"></script>


</body>

</html>
