@using Ecommerce_App.Areas.Identity.Data;
@using Ecommerce_App.Areas.Identity.Pages.Account;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<Ecommerce_AppUser> SignInManager
@inject UserManager<Ecommerce_AppUser> UserManager

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uiCookies:Atlantis &mdash; Free Bootstrap Theme, Free Responsive Bootstrap Website Template</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
    <link href="~/assets/hotel/css/custom.css" rel="stylesheet" />
    <link href="~/assets/hotel/css/style.min.css" rel="stylesheet" />
    <link href="~/assets/hotel/css/styles-merged.css" rel="stylesheet" />


    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- START: header -->

    <header role="banner" class="probootstrap-header ms-7">
        <!-- <div class="container"> -->
        <div class="row">
            <a asp-controller="Home" asp-action="Index" class="probootstrap-logo visible-xs"><img src="~/assets/hotel/img/logo_md.png" class="hires" width="120" height="33" /></a>

            <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
            <div class="mobile-menu-overlay"></div>

            <nav role="navigation" class="probootstrap-nav hidden-xs">
                <ul class="probootstrap-main-nav">
                    <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Our Rooms</a></li>
                    <li class="hidden-xs probootstrap-logo-center"><a asp-controller="Home" asp-action="Index"><img src="~/assets/hotel/img/logo_md.png" class="hires" width="181" height="50" /></a></li>
                    <li><a asp-controller="Home" asp-action="Reservation">Reservation</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                    {
                        <li><a asp-controller="Analytics" asp-action="Index">Admin Panel</a></li>
                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await SignInManager.UserManager.GetUserAsync(User);
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>
                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                                @if (!string.IsNullOrEmpty(user?.Image))
                                {
                                    <img src="~/Images/@user.Image" class="avatar img-fluid rounded" alt="User Image" />
                                    <span class="text-dark">@user.FirstName @user.LastName</span>
                                }
                                else
                                {
                                    <img src="~/assets/hotel/img/avatars/default-avatar.jpg" class="avatar img-fluid rounded me-1" alt="Default Avatar" />
                                }

                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })">LogOut</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Login">
                                <input type="button" value="SignIn" class="btn btn-primary">
                            </a>
                        </li>
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Register">
                                <input type="button" value="SignUp" class="btn btn-primary">
                            </a>
                        </li>
                    }
                </ul>
                <div class="extra-text visible-xs">
                    <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                    <h5>Connect With Us</h5>
                    <ul class="social-buttons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-instagram2"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- </div> -->
    </header>
    <!-- END: header -->

    <section class="probootstrap-slider flexslider">
        <ul class="slides">
            <li style="background-image: url(../../wwwroot/assets/hotel/img/slider_1.jpg);" class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="probootstrap-slider-text text-center">
                                <p><img src="~/assets/hotel/img/curve_white.svg" class="seperator probootstrap-animate" /></p>
                                <h1 class="probootstrap-heading probootstrap-animate">Welcome to Atlantis</h1>
                                <div class="probootstrap-animate probootstrap-sub-wrap">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../../assets/hotel/img/slider_2.jpg);" class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="probootstrap-slider-text text-center">
                                <p><img src="~/assets/hotel/img/curve_white.svg" class="seperator probootstrap-animate" /></p>
                                <h1 class="probootstrap-heading probootstrap-animate">Enjoy Luxury Experience</h1>
                                <div class="probootstrap-animate probootstrap-sub-wrap">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <script src="~/assets/hotel/js/scripts.js"></script>
    <script src="~/assets/hotel/js/custom.js"></script>
    <script src="~/assets/hotel/js/scripts.min.js"></script>
    <script src="~/assets/hotel/js/main.min.js"></script>
    <script src="~/assets/hotel/js/main.js"></script>

</body>
</html>