@{
    Layout = "_HotelLayout";
    ViewData["Title"] = "Pretal Hotel";
    ViewData["ActivePage"] = "ThankYou";
}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PRETAL HOTEAL</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/assets/hotel/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/hotel/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/hotel/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/assets/hotel/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/assets/hotel/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/hotel/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/assets/hotel/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/hotel/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/assets/hotel/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/hotel/css/style.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:700' rel='stylesheet' type='text/css'>
    <link href='~/assets/hotel/css/Thanks.css' rel='stylesheet' type='text/css'>
</head>

<body>

    <!-- Header Section Begin -->
    <partial name="_HotelNav" />

    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <header class="site-header" id="header">
                    <h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
                </header>

                <div class="main-content">
                    <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
                    <p class="main-content__body" data-lead-id="main-content-body">
                        Your booking is important to us, and we'll be in touch shortly to confirm it. Thank you for choosing our services. for more information about your booking please call us on this number +962790497780
                    </p>
                </div>
            </div>
        </div>
    </section>

    <partial name="_HotelFooter" />
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/assets/hotel/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/hotel/js/bootstrap.min.js"></script>
    <script src="~/assets/hotel/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/hotel/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/hotel/js/jquery-ui.min.js"></script>
    <script src="~/assets/hotel/js/jquery.slicknav.js"></script>
    <script src="~/assets/hotel/js/owl.carousel.min.js"></script>
    <script src="~/assets/hotel/js/main.js"></script>


</body>

</html>
