@model Domain.DTO_s.RoomType
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;


@inject IViewLocalizer localize
@{
    ViewData["Title"] = "Room Types | Edit";
    ViewData["ActivePage"] = "RoomTypes";
    var check = CultureInfo.CurrentCulture.Name;
}
<div class="wrapper">
    <partial name="_Slide" />
    <div class="main">
        <partial name="_Navbar" />
        <main class="content">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <form class="card mt-5" asp-action="Edit">
                        @if (check == "en-US")
                        {
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-header">
                                <h3 class="card-title">Edit Room Type</h3>
                            </div>
                            <div class="card-body">
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="Breakfast"></label>
                                    <div class="col">
                                        <input type="number" class="form-control" asp-for="Breakfast">
                                        <span asp-validation-for="Breakfast" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="Dinner"></label>
                                    <div class="col">
                                        <input type="number" class="form-control" asp-for="Dinner">
                                        <span asp-validation-for="Dinner" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="Lunch"></label>
                                    <div class="col">
                                        <input type="number" class="form-control" asp-for="Lunch">
                                        <span asp-validation-for="Lunch" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="ExtraBed"></label>
                                    <div class="col">
                                        <input type="number" class="form-control" asp-for="ExtraBed">
                                        <span asp-validation-for="ExtraBed" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label required" asp-for="TypeId"></label>
                                    <div class="col">
                                        <select class="form-select" asp-for="TypeId" asp-items="ViewBag.TypeOptions">
                                            <option value="">Select a Type</option>
                                        </select>
                                        <span asp-validation-for="TypeId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <a asp-action="Index" class="btn btn-secondary" role="button">Back to List</a>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-header">
                                <h3 class="card-title text-lg-end">تعديل نوع الغرفة</h3>
                            </div>
                            <div class="card-body">
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input type="number" class="form-control" asp-for="Breakfast">
                                        <span asp-validation-for="Breakfast" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required" asp-for="Breakfast"></label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input type="number" class="form-control" asp-for="Dinner">
                                        <span asp-validation-for="Dinner" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required" asp-for="Dinner"></label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input type="number" class="form-control" asp-for="Lunch">
                                        <span asp-validation-for="Lunch" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required" asp-for="Lunch"></label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <input type="number" class="form-control" asp-for="ExtraBed">
                                        <span asp-validation-for="ExtraBed" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required" asp-for="ExtraBed"></label>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col">
                                        <select class="form-select" asp-for="TypeId" asp-items="ViewBag.TypeOptions">
                                            <option value="" disabled selected>Select a Type</option>
                                        </select>
                                        <span asp-validation-for="TypeId" class="text-danger"></span>
                                    </div>
                                    <label class="col-3 col-form-label required" asp-for="TypeId"></label>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <button type="submit" class="btn btn-primary">@localize["SaveChanges"]</button>
                                    </div>
                                    <div>
                                        <a asp-action="Index" class="btn btn-secondary" role="button">@localize["BackToList"]</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </main>
        <partial name="_Footer" />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
