<footer class="footer-section">
    <div class="container">
        <div class="footer-text">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ft-about">
                        <div class="logo">
                            <a href="#">
                                <h3 style="color:white;">Pretal Hotel</h3>
                            </a>
                        </div>
                        <p>Follow us on our social media accounts<br />
                        <div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="ft-contact">
                        <h6>Contact Us</h6>
                        <ul>
                            <li>+962 790497780</li>
                            <li>info@pretalhotel.com</li>
                            <li>Mutah St, Al Mafraq, Jordan</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="ft-contact">
                        <h6>Developer Info</h6>
                        <ul>
                            <li>+962 780228890</li>
                            <li>alaa.albayed2016@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-1">
                    <div class="co-text">
                        <p>
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Pretal Hotel All rights reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>